GestaoVoiza/businessCatalog/BusinessModule/BO_Solicitacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessModule.BO_Solicitacao" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessModule/BO_Solicitacao" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessModule/BO_Solicitacao"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BO_SolicitacaoType">
        <xs:sequence>
            <xs:element name="id" nillable="true" type="xs:string"/>
            <xs:element name="titulo" nillable="true" type="xs:string"/>
            <xs:element name="descricao" nillable="true" type="xs:string"/>
            <xs:element name="data" nillable="true" type="xs:dateTime"/>
            <xs:element name="valor" nillable="true" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BO_Solicitacao" type="BO_SolicitacaoType"/>
</xs:schema>
